@using Microsoft.AspNetCore.Mvc.TagHelpers
@using AspNetCore.ReCaptcha
@model MaPagePerso.net.ViewsModels.HomeViewsModels
@{
    ViewData["Title"] = "";
}

<!-- ======= About Me Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            <span>A PROPOS</span>
            <h2>A Propos</h2>
            <p>
                <i>Mon identité ne se limite pas à des pixels sur un écran...</i>
            </p>
        </div>

        <div class="row">
            <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
            <div class="col-lg-8 d-flex flex-column align-items-stretch">
                <div class="content ps-lg-4 d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul>
                                <li>

                                    <span>
                                        Je m'appelle <b>Florian Rampin</b>, je suis né à Toulon en 1990.
                                        <p>
                                        <p>
                                        Tombé dans la technologie depuis mon plus jeune âge et après une adolescence de geek à toucher à tout dans ce domaine, la logique fût de poursuivre cette passion en milieu professionnel.
                                        <p>
                                        Après de nombreuses années à l'école, me voilà aujourd'hui développeur pour un logiciel métier de facturation.
                                        <p>
                                    </span>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="row mt-n4">
                        <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="bi bi-emoji-smile" style="color: #20b38e;"></i>
                                <span data-purecounter-start="0" data-purecounter-end="@Model.YearsOld" data-purecounter-duration="1" class="purecounter"></span>
                                <p>C'est mon <strong>âge</strong>. Jeune pour certains, plus agé pour d'autres mais opérationnel dans toutes les situations.</p>
                            </div>
                        </div>

                        <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="bi bi-award" style="color: #8a1ac2;"></i>
                                <span data-purecounter-start="0" data-purecounter-end="@Model.YearsExperience" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Ce sont mes <strong>années d'expérience</strong> du simple technicien au développeur que je suis aujourd'hui.</p>
                            </div>
                        </div>

                        <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="bi bi-clock" style="color: #2cbdee;"></i>
                                <span data-purecounter-start="0" data-purecounter-end="@Model.Projects.Count" data-purecounter-duration="1" class="purecounter"></span>
                                <p>C'est le nombre de <strong>projets publics</strong> que j'ai développé et qui sont visibles un peu plus bas !</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section><!-- End About Me Section -->

<!-- ======= My Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <span>CURICULUM VITAE</span>
            <h2>CURICULUM VITAE</h2>
            <p>
                <i>D'où je viens et ce que je sais faire !</i>
            </p>
            <div class="text-center mt-3">
                <a href="~/docs/cv.pdf" class="btn btn-primary" download="CV_Florian_Rampin.pdf">
                    <i class="bi bi-download"></i> Télécharger mon CV (PDF)
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Formations</h3>
                <div class="resume-item">
                    <h4>DUT GEII par Alternance - DCNS Services TOULON (niveau)</h4>
                    <h5>2012 - 2014</h5>
                    <p>
                        <em>IUT Toulon - La Garde</em>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>License Informatique 1ère année (niveau)</h4>
                    <h5>2010 - 2012</h5>
                    <p>
                        <em>FAC Toulon - La Garde</em>
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Expériences professionnelles</h3>
                <div class="resume-item">
                    <h4>Développeur logiciel et technicien support niveau II</h4>
                    <h5>2022 - Aujourd'hui</h5>
                    <p>
                        <em>Créagiciel, La Seyne / Mer </em>
                    </p>
                    <p>
                        <ul>
                            <li>Conception et développement de logiciel métier</li>
                            <li>Support client niveau 2 et relation avec niveau 3 </li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Responsable support hotline niveau II - Technicien logiciel / Dev. Web Symfony</h4>
                    <h5>2018 - 2022</h5>
                    <p>
                        <em>Gentel Global Solutions, La Garde</em>
                    </p>
                    <p>
                        <ul>
                            <li>Gestion d'équipe</li>
                            <li>Formation client</li>
                            <li>Traitement de bugs et évolutions</li>
                            <li>Développement d'un outil de télégestion (fullstack symfony 5)</li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Responsable support hotline niveau II - Technicien logiciel</h4>
                    <h5>2014 - 2018</h5>
                    <p>
                        <em>AidesNSoft, La Garde</em>
                    </p>
                    <p>
                        <ul>
                            <li>Gestion d'équipe</li>
                            <li>Formation client</li>
                            <li>Traitement de bugs et évolutions</li>
                            <li>Développement d’outils support(C#)</li>
                            <li>Salon professionnel</li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Développement de systèmes et traitement d’obsolescences</h4>
                    <h5>2012 - 2014</h5>
                    <p>
                        <em>Naval-Group, Base Navale Toulon</em>
                    </p>
                    <p>
                        <ul>
                            <li>Maintenance électronique sur technologies Analogiques/Numériques</li>
                            <li>Rédaction de manuels utilisateur</li>
                            <li>Configuration système et réseau</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End My Resume Section -->

<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <span>Compétences</span>
            <h2>Compétences</h2>
            <p><i>Un peu de détail ne fait pas de mal...</i></p>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class='bx bx-globe'></i></div>
                    <h4 class="title"><a href="">WEB</a></h4>
                    <p class="description"><b>ASPNET, BLAZOR, PHP(Symfony), WEBDEV</b></p>
                    <p class="mt-3">Moteur APIREST from scratch avec authentification JWT, Modèle MVC, OnePage, Blazor Server, WASM...</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class='bx bx-desktop'></i></div>
                    <h4 class="title"><a href="">CONSOLE/BUREAU</a></h4>
                    <p class="description"><b>DOTNET, WINDEV</b></p>
                    <p class="mt-3">Interconnexion API Discord, moteur de test pour API REST automatisé, Application métier, outils support...</p>
                </div>
            </div>


            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class='bx bx-mobile-alt'></i></div>
                    <h4 class="title"><a href="">MOBILE</a></h4>
                    <p class="description"><b>MAUI, WINDEV MOBILE</b></p>
                    <p class="mt-3">Android / iOs, agrégation données API, authentification Bearer...</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class='bx bx-bookmark-alt-plus'></i></div>
                    <h4 class="title"><a href="">DIVERS</a></h4>
                    <p class="description"><b>GIT, BITBUCKET, GITHUB, GITHUB ACTION, CI/CD, SQL, MYSQL, MARIADB, MSSQL, HFSQL</b> </p>
                    <p class="mt-3">JIRA, JETBRAINS RIDER, VISUAL STUDIO 2022, VSCODE, ASANA...</p>

                </div>
            </div>

        </div>

    </div>
</section><!-- End My Services Section -->

<!-- ======= My Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <span>MES PROJETS</span>
            <h2>Mes Projets</h2>
            <p><i>Parce qu'un bon développeur doit pouvoir présenter quelques projets...</i></p>
        </div>

        <div class="row portfolio-container">

            @foreach (Project project in Model.Projects)
            {
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img">
                        <img src="~/images/projects/@project.Image" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-info">
                        <h4>@project.Title</h4>
                        <p>@project.Language</p>
                        <a href="~/images/projects/@project.Image" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="@project.Title">
                            <i class="bx bx-plus"></i>
                        </a>
                        @*<a asp-controller="Project" asp-action="Details" asp-route-id="@project.Id" class="details-link" title="More Details">
                            <i class="bx bx-link"></i>
                        </a>*@
                    </div>
                </div>
            }



        </div>

    </div>
</section><!-- End My Portfolio Section -->


<!-- ======= Contact Me Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <span>CONTACT</span>
            <h2>Contact</h2>
            <p>
                <i>Besoin d'information? Une envie de me contacter?</i>
            </p>
        </div>

        <div class="row">

            <div class="col-lg-6">

                <div class="row">
                    <div class="col-md-12">
                        <div class="info-box">
                            <i class="bx bx-share-alt"></i>
                            <h3>Réseaux sociaux</h3>
                            <div class="social-links">
                                <a href="https://github.com/rampinflorian" class="github">
                                    <i class="bi bi-github"></i>
                                </a>
                                <a href="https://www.facebook.com/florian.rampin.1" class="facebook">
                                    <i class="bi bi-facebook"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/florian-rampin-7070ba162" class="linkedin">
                                    <i class="bi bi-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4">
                            <i class="bx bx-envelope"></i>
                            <h3>Par email</h3>
                            <p>florian[at]rampin.me</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4">
                            <i class="bx bx-phone-call"></i>
                            <h3>Par téléphone</h3>
                            <p>(+33) 6 51 35 62 46</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">
            <div flashes></div>
                <form class="contact-form" asp-action="Mailer" method="post">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" asp-for="mailer.Username" required="required" class="form-control" placeholder="Nom" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            @Html.ReCaptcha()
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" asp-for="mailer.Mail" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" asp-for="mailer.Content" rows="6" placeholder="Message" required></textarea>
                    </div>
                    <div class=" mt-3 text-center">
                        <button class="btn btn-sm btn-primary" type="submit">Envoyer</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Me Section -->
