<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8"/>
    <title>@ViewData["Title"] FlorianRampin.fr</title>

    <!-- Meta Data -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Florian Rampin"/>
    <meta name="description" content="Site personnel de Florian Rampin CV/Projets/Contact"/>
    

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="57x57" href="~/images/favicons/apple-touch-icon-57x57.png">
    <link rel="shortcut icon" href="~/images/favicons/favicon.png" type="image/png">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="~/styles/style.css"/>
    <link rel="stylesheet" type="text/css" href="~/styles/style-dark.css"/>

</head>
<body class="bg-triangles">

<!-- Preloader -->
<div class="preloader">
    <div class="preloader__wrap">
        <div class="circle-pulse">
            <div class="circle-pulse__1"></div>
            <div class="circle-pulse__2"></div>
        </div>
        <div class="preloader__progress">
            <span></span>
        </div>
    </div>
</div>

<main class="main">
    <div class="container gutter-top">
        <!-- Header -->
        <header class="header box">
            <div class="header__left">
                <div class="header__photo">
                    <img class="header__photo-img" src="~/img/main-photo.svg" alt="Florian Rampin">
                </div>
                <div class="header__base-info">
                    <h4 class="title titl--h4">Florian Rampin</h4>
                    <div class="status">Ma page perso</div>
                    <ul class="header__social">
                        <li>
                            <a href="https://www.linkedin.com/in/florian-rampin-7070ba162">
                                <i class="font-icon icon-linkedin1"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/rampinflorian">
                                <i class="font-icon icon-github1"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/florian.rampin.1">
                                <i class="font-icon icon-facebook1"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header__right">
                <ul class="header__contact">

                </ul>
                <ul class="header__contact">
                    <li>
                        <span class="overhead">Age</span>
                        <div id="years-old-id"></div>
                    </li>
                    <li>
                        <span class="overhead">Expérience pro</span>
                        <div id="years-experience-id"></div>
                    </li>
                </ul>
            </div>
        </header>

        <div class="row sticky-parent">
            <!-- Sidebar nav -->
            <aside class="col-12 col-md-12 col-lg-2">
                <div class="sidebar box sticky-column">
                    <ul class="nav">
                        <li class="nav__item">
                            <a class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" ? "active" : "")" asp-controller="Home"><i class="icon-user"></i>A Propos</a>
                        </li>
                        <li class="nav__item">
                            <a class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Resume" ? "active" : "")" asp-controller="Resume"><i class="icon-file-text"></i>CV</a>
                        </li>
                        <li class="nav__item">
                            <a class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Project" ? "active" : "")" asp-controller="Project"><i class="icon-codesandbox"></i>Projets</a>
                        </li>
                        <li class="nav__item">
                            <a class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Contact" ? "active" : "")" asp-controller="Contact"><i class="icon-book"></i>Contact</a>
                        </li>
                    </ul>
                </div>
            </aside>


            <!-- Content -->
            <div class="col-12 col-md-12 col-lg-10">
                    <div flashes></div>
                @RenderBody()
                <!-- Footer -->
                <footer class="footer">© 2021 Florian Rampin</footer>
            </div>
        </div>
    </div>
</main>

<!-- SVG masks -->
<svg class="svg-defs">
    <clipPath id="avatar-box">
        <path d="M1.85379 38.4859C2.9221 18.6653 18.6653 2.92275 38.4858 1.85453 56.0986.905299 77.2792 0 94 0c16.721 0 37.901.905299 55.514 1.85453 19.821 1.06822 35.564 16.81077 36.632 36.63137C187.095 56.0922 188 77.267 188 94c0 16.733-.905 37.908-1.854 55.514-1.068 19.821-16.811 35.563-36.632 36.631C131.901 187.095 110.721 188 94 188c-16.7208 0-37.9014-.905-55.5142-1.855-19.8205-1.068-35.5637-16.81-36.63201-36.631C.904831 131.908 0 110.733 0 94c0-16.733.904831-37.9078 1.85379-55.5141z"/>
    </clipPath>
    <clipPath id="avatar-hexagon">
        <path d="M0 27.2891c0-4.6662 2.4889-8.976 6.52491-11.2986L31.308 1.72845c3.98-2.290382 8.8697-2.305446 12.8637-.03963l25.234 14.31558C73.4807 18.3162 76 22.6478 76 27.3426V56.684c0 4.6805-2.5041 9.0013-6.5597 11.3186L44.4317 82.2915c-3.9869 2.278-8.8765 2.278-12.8634 0L6.55974 68.0026C2.50414 65.6853 0 61.3645 0 56.684V27.2891z"/>
    </clipPath>
</svg>

<div class="back-to-top"></div>

<!-- JavaScripts -->
<script src="~/js/jquery-3.4.1.min.js"></script>
<script src="~/js/plugins.min.js"></script>
<script src="~/js/common.js"></script>

<script >
        $(document).ready(function () {
            
            $.ajax(window.location.origin + '/Layout/GetYearsOld', {
                success: function (data) {
                   document.getElementById('years-old-id').textContent = data + " ans";
                },
                error: function () {
                    // show alert or something
                }
            });
            $.ajax(window.location.origin + '/Layout/GetExperienceYears', {
                success: function (data) {
                   document.getElementById('years-experience-id').textContent = data + " ans";
                },
                error: function () {
                    // show alert or something
                }
            });
        })
</script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>